@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
    }
}

/* Custom scrollbar track */
::-webkit-scrollbar {
  width: 8px; 
}

/* Custom scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 8px; /* Rounded corners */
}

/* Apply custom scrollbar styles */
.overflow-custom {
  overflow-x: auto;
  overflow-y: auto;
}

/* Apply custom scrollbar styles to small screens */
@media (max-width: 640px) {
  .overflow-custom {
    overflow-x: auto;
    overflow-y: auto;
  }
}
